.chat-header-hashtag {
    color: gray;
    font-size: 30px;
    padding: 10px;
}

.chat-header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 6px;
    border-bottom: 3px solid #26282c;
    z-index: 9;
    width: 85vw;
    background-color: #363a3f;
}

.chat-header-left {
    display: flex;
    flex: 1;
    align-items: center;
    color: white;
}

.chat-header-right {
    display: flex;
    align-items: center;
    flex: 0.5;
    justify-content: space-between;
}

.chat-header-right, .chat-header-left > .MuiSvgIcon-root {
    padding: 5px;
    cursor: pointer;
    transition: 200ms;
}

.chat-header-right > .MuiSvgIcon-root:hover {
    color: white;
}

.chat-header-left > .MuiSvgIcon-root:hover {
    color: white;
}

.chat-header-search {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    border-radius: 3px;
    padding: 3px;
}

.chat-header-search > input {
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
}

.chat {
    
    display: flex;
    flex-direction: column;
    flex: 0.7;
    background-color: #363a3f;
    height: 100vh;
}

.chat-messages {
    flex: 1;
    padding-top: 60px;
}

.chat-input {
    display: flex;
    align-items: center;
    color: rgb(174, 174, 174);
    background-color: #46494e;
    border-radius: 10px;
    padding: 18px;
    margin: 0 2% 40px 2%;
}

.chat-input > input {
    flex: 1;
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
    margin-left: 20px;
    font-size: 20px;
}

